
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
  #body{
    background-color: #293241;
    #header{
        padding: 40px;
        border-bottom: solid #EE6C4D;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .quever{
        display: flex;
        justify-content: center;
        #queVer{
            text-align: center;
            margin-top: 10px;
            padding: 10px;
          border-radius: 15px;
          font-size: 20px;
          background-color: #EE6C4D;
          color: #E0FBFC;
          font-size: 35px;
          font-family: 'Yellowtail', cursive;
        }
    }
    .quever a{
        text-decoration: none;
    }
        #filtrado{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        margin-top: 20px;
        color: #E0FBFC;
        font-family: 'Arima', cursive;

    }
    #filtros{
        display: flex;
            justify-content: start;
            background-color: #3D5A80;
            list-style: none;
            padding: 10px;
            .ul{
                list-style: none;
                text-decoration: none;
                .l1{
                    background-color: #EE6C4D;
                    padding: 5px;
                    border-radius: 25px ;
                    color: #3D5A80;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .l1:hover{
                    background-color: #293241;
                }
                
                .l2{
                    @extend .l1;
                }
                .l3{
                    @extend .l1;
                }
                .l4{
                    @extend .l1;
                }
                
            }
            .ul a{
                list-style: none;
                text-decoration: none;
                color: #E0FBFC;
            }
            
        }
        #peliculas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        margin-top: 20px;
        color: #E0FBFC;
        font-family: 'Arima', cursive;
            .img1{
            border-radius: 15px;
        }
        .peli1{
            display: flex;
            flex-direction: column;
            background-color: #EE6C4D;
            width: 250px;
            height: auto;
            line-height: 18px;
            padding: 10px;
           border-radius: 10px;
        .h3{
            font-family: 'Gulzar', serif;
            font-size: 25px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 15px;
        }
     }
    /*.paramount{
        margin-top: 10px;
    }
    .HBO{
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .netflix{
        margin-top: 10px;
    }
    .prime-video{
        margin-top: 10px;
    }*/
    .plataformas{
        text-align: center;
        background-color: #F4A28D;
        padding: 5px;
        margin-top: 10px;

        .id{
            display: flex;
            margin-left: 50px;
            margin-top: 10px;
            justify-content: center;
            text-align: center;
            background-color: #EE6C4D;
           border-radius: 10px;
           padding: 5px;
        }
        
    }
}
#filter{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        color: #E0FBFC;
        margin-top: -100px;
        font-family: 'Arima', cursive;
}   
.peli1{
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    color: #E0FBFC;
    font-family: 'Arima', cursive;
    display: flex;
    flex-direction: column;
    background-color: #EE6C4D;
    width: 250px;
    height: auto;
    line-height: 18px;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    .id{
        display: flex;
        margin-top: 10px;
            margin-left: 50px;
            justify-content: center;
            text-align: center;
            background-color: #EE6C4D;
           border-radius: 10px;
           padding: 5px;
           color: #E0FBFC;
    }
    .idPP{
        display: flex;
        margin-top: 10px;
            justify-content: center;
            text-align: center;
            background-color: #EE6C4D;
           border-radius: 10px;
           padding: 5px;
           color: #E0FBFC;
    }
    .img1{
        border-radius: 15px;
    }
    .plataformas{
        text-align: center;
        background-color: #F4A28D;
        padding: 5px;
        margin-top: 10px;
    }
}
#ultimaPeli{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EE6C4D;
    margin-top: 20px;
    a{
        text-decoration: none;
        color: #293241;
    }
}

 #div{
    @extend .peli1;
 }
}